
#myDIV {
    width: 300px;
    height: 200px;
    background: black;
    animation: mymove 5s infinite; 
    animation-direction: alternate-reverse;
  }
  
  @keyframes mymove {
  
    from {
        background-color: #cfa0e9;
    }
    to {
        background-color: black;
    }
  }
  
  a {
      color:white;
      text-shadow: 5px -1px 0 #000;
  }
  
  
  .distrib {
      width: 100vw;
      display:flex;
      justify-content: center;
  }
  
  .container {
      position: absolute;
      display:inline-flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
  }
  
  .logo {
      text-align: center;
      width: 30vw;
      margin-bottom: -50px;
      pointer-events: none;
      user-select: none;
  }
  
  .text-bas-gauche {
      margin-left: 20px;
      bottom: 0;
      left:0;
      z-index: 1;
      position:fixed;
      color:white;
      text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
       font-size: 30px;
  }
  
  .text-haut-gauche {
      margin-left: 20px;
      top:0;
      left:0;	
      z-index: 2;
      position:fixed;
      color:white;
       font-size: 30px;
       text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
   }
  
  .text-haut-droit {
      margin-right: 20px;
      top:0;
      right:0;
      z-index: 3;
      position:fixed;
      color:white;
       font-size: 30px;
       text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
  }
  
  .text-bas-droit {
      margin-right: 20px;
      bottom:0;
      right:0;
      z-index: 3;
      position:fixed;
      color:white;
       font-size: 30px;
       text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
  }
  
  
  
  @media screen and (max-width: 1280px)
  {
  
      .container {
      position: absolute;
      display:inline-flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      margin-top: 100px;
  
      }
  
      .logo-mobile {
          text-align: center;
          width: 100vw;
          pointer-events: none;
          user-select: none;
      }
  
      .text-bas-gauche {
          bottom: 0;
          left:0;
          z-index: 1;
          position:fixed;
          color:white;
          text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
           font-size: 60px;
      }
  
      .text-haut-gauche {
          margin-left: 20px; 
          top:0;
          left:0;	
          z-index: 2;
          position:fixed;
          color:white;
           font-size: 60px;
           text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
       }
  
      .text-haut-droit {
          margin-right: 20px;
          top:0;
          right:0;
          z-index: 3;
          position:fixed;
          color:white;
           font-size: 60px;
           text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
      }
  
      .text-bas-droit {
          margin-right: 10px;
          bottom:0;
          right:0;
          z-index: 3;
          position:fixed;
          color:white;
           font-size: 60px;
           text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
      }
  
      a {
          color:white;
          text-shadow: 5px -1px 0 #000;
      }
  
  
  }